#------------------------------------------------------------------------------
# Modified Calculate Utilities 3.7.6.9
# Processed template files:
# /var/db/repos/calculate/profiles/templates/6_ac_desktop_profile/2-user/mail-client/claws-mail-4.0/accountrc.tmpl
#------------------------------------------------------------------------------

[AccountTemplate]
name=Брижашева Яна Михайловна
email=
organization=
smtpserver=
recvtype=1
imap_subsonly=0
recvserver=
recvssl=2
